
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-floppy:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-minus:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80c'; } /* '' */
.icon-up-bold:before { content: '\e80d'; } /* '' */
.icon-right-bold:before { content: '\e80e'; } /* '' */
.icon-left-bold:before { content: '\e80f'; } /* '' */
.icon-down-bold:before { content: '\e810'; } /* '' */
.icon-up-dir:before { content: '\e811'; } /* '' */
.icon-right-dir:before { content: '\e812'; } /* '' */
.icon-left-dir:before { content: '\e813'; } /* '' */
.icon-down-dir:before { content: '\e814'; } /* '' */
.icon-up-open-big:before { content: '\e815'; } /* '' */
.icon-right-open-big:before { content: '\e816'; } /* '' */
.icon-left-open-big:before { content: '\e817'; } /* '' */
.icon-down-open-big:before { content: '\e818'; } /* '' */
.icon-up-open-mini:before { content: '\e819'; } /* '' */
.icon-right-open-mini:before { content: '\e81a'; } /* '' */
.icon-left-open-mini:before { content: '\e81b'; } /* '' */
.icon-down-open-mini:before { content: '\e81c'; } /* '' */
.icon-up:before { content: '\e81d'; } /* '' */
.icon-right:before { content: '\e81e'; } /* '' */
.icon-left:before { content: '\e81f'; } /* '' */
.icon-down:before { content: '\e820'; } /* '' */
.icon-up-open:before { content: '\e821'; } /* '' */
.icon-right-open:before { content: '\e822'; } /* '' */
.icon-left-open:before { content: '\e823'; } /* '' */
.icon-down-open:before { content: '\e824'; } /* '' */
.icon-right-circled:before { content: '\e825'; } /* '' */
.icon-up-circled:before { content: '\e826'; } /* '' */
.icon-left-circled:before { content: '\e827'; } /* '' */
.icon-down-circled:before { content: '\e828'; } /* '' */
.icon-dot-3:before { content: '\e829'; } /* '' */
.icon-dot-2:before { content: '\e82a'; } /* '' */
.icon-dot:before { content: '\e82b'; } /* '' */
.icon-arrow-combo:before { content: '\e82c'; } /* '' */
